In [9]:
#Source : https://geohub.lacity.org/datasets/bus-stop-benches/

In [25]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64

In [26]:
CSV_FILE = 'bus_stops'

In [27]:
with open('dataRaw/'+ CSV_FILE +'.csv') as f:
    df=pd.read_csv(f, delimiter=',')

In [28]:
# REMOVE COLUMNS
# BETTER DOCUMENTATION ON TYPES OF BUS STOPS is needed
df = df.drop(columns=['X', 'Y', 'TOOLTIP', 'MEDIA_TYPE', 'UNIT_TYPE'])
df.head(10)

,OBJECTID,FID2,NUMBER,LATITUDE,LONGITUDE,SITEATS,CITY_SITE,FACING,AREA,ADVERTISER
0,1,663,LA-0664,34.19462,-118.58843,NB De Soto FS Vanowen -NE,L.A. Valley West,South,CD-03,MOM L.A.
1,2,681,LA-0682,34.20065,-118.62340,SB Fallbrook FS Sherman Way -SW,L.A. Valley West,East,CD-03,Jerry Gooze
2,3,682,LA-0683,34.20065,-118.62340,SB Fallbrook FS Sherman Way -SW,L.A. Valley West,East,CD-03,Jerry Gooze
3,4,711,LA-0712,34.15238,-118.60487,EB Mulholland D NS Topanga -SW,L.A. Valley West,East,CD-03,MOM L.A.
4,5,771,LA-0772,34.21597,-118.53582,NB Reseda Blvd FS Strathern -NE,L.A. Valley West,South,CD-03,MOM L.A.
5,6,774,LA-0775,34.19457,-118.53592,NB Reseda Blvd FS Vanowen -NE,L.A. Valley West,South,CD-03,MOM L.A.
6,7,784,LA-0785,34.22005,-118.58010,EB Roscoe NS Mason -SW,L.A. Valley West,East,CD-03,Sean Sullivan
7,8,1505,LA-1506,34.15804,-118.37023,NB Vineland FS Camarillo -NE,L.A. Valley East,South,CD-04,MOM L.A.
8,9,1542,LA-1543,34.06147,-118.31958,EB Wilshire FS Dunsmuir -SE,L.A. Central,West,CD-04,MOM L.A.
9,10,1548,LA-1549,34.06147,-118.31958,EB Wilshire NS La Brea -SW,L.A. Central,East,CD-04,Diamond Foam & Fabrics

In [29]:
df.to_csv('dataClean/'+ CSV_FILE +'.csv', index=False)